<launch>
	<master auto="start"/>	
	<param name="/use_sim_time" value="false"/>

	# parameter graph_info = ['N','l','d']
	<param name="graph_info" value="['10','100','4']"/>

	<node pkg="k-saap_pkg" type="node.py" name="node_1" output="screen">
		<param name="position" value="['42.3923092418','65.8934558407','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_5,/node_4,/node_3,/node_2"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_2" output="screen">
		<param name="position" value="['25.0118917755','69.2304356752','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_5,/node_4,/node_3,/node_1"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_3" output="screen">
		<param name="position" value="['18.0825499292','54.7294980714','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_6,/node_5,/node_4,/node_2,/node_1"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_4" output="screen">
		<param name="position" value="['9.37742392112','48.8328775009','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_6,/node_5,/node_3,/node_2,/node_1"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_5" output="screen">
		<param name="position" value="['13.8975628258','66.7768368783','0']"/>
		<param name="neighbour_nodes_list" value="/node_4,/node_3,/node_2,/node_1"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_6" output="screen">
		<param name="position" value="['44.036587035','36.1407482155','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_7,/node_4,/node_3,/node_2,/node_1"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_7" output="screen">
		<param name="position" value="['65.8878676346','7.17708889994','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_8"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_8" output="screen">
		<param name="position" value="['31.7589762389','15.5161618776','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_6,/node_9"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_9" output="screen">
		<param name="position" value="['26.2079451395','16.0425638723','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_4,/node_3,/node_8"/>
	</node>
</launch>