<launch>
	<master auto="start"/>	
	<param name="/use_sim_time" value="false"/>

	# parameter graph_info = ['N','l','d']
	<param name="graph_info" value="['10','100','4']"/>


	<node pkg="k-saap_pkg" type="node.py" name="node_1" output="screen">
		<param name="position" value="['73.4337074654','42.4580363924','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_6,/node_5,/node_4,/node_2"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_2" output="screen">
		<param name="position" value="['82.6735355319','33.9692448401','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_5,/node_4,/node_3,/node_1,/node_10,/node_11"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_3" output="screen">
		<param name="position" value="['77.8804347268','24.3918652444','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_6,/node_5,/node_2,/node_11,/node_10,/node_23,/node_20"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_4" output="screen">
		<param name="position" value="['74.7328071322','41.4972805901','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_6,/node_5,/node_2,/node_1"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_5" output="screen">
		<param name="position" value="['76.8247639791','33.7617080501','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_6,/node_4,/node_3,/node_2,/node_1,/node_11,/node_23"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_6" output="screen">
		<param name="position" value="['72.062870224','33.5234329309','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_5,/node_4,/node_3,/node_2,/node_1,/node_26,/node_11,/node_23"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_7" output="screen">
		<param name="position" value="['68.1812396271','35.32941655','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_5,/node_4,/node_11,/node_26,/node_24,/node_1,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_8" output="screen">
		<param name="position" value="['73.5731555264','14.0488776752','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_14,/node_3,/node_12,/node_23,/node_20,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_9" output="screen">
		<param name="position" value="['84.2048488715','18.1219567968','0']"/>
		<param name="neighbour_nodes_list" value="/node_10,/node_3,/node_23,/node_11,/node_8"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_10" output="screen">
		<param name="position" value="['84.6213438252','22.0440048061','0']"/>
		<param name="neighbour_nodes_list" value="/node_23,/node_3,/node_2,/node_9,/node_11"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_11" output="screen">
		<param name="position" value="['76.1309029577','28.1945253744','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_7,/node_6,/node_5,/node_3,/node_2,/node_10,/node_23"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_12" output="screen">
		<param name="position" value="['69.8374865393','1.59676009316','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_15,/node_14,/node_13,/node_20,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_13" output="screen">
		<param name="position" value="['58.419329327','2.07737257466','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_16,/node_15,/node_14,/node_12,/node_88,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_14" output="screen">
		<param name="position" value="['69.7953548548','2.98531063071','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_15,/node_13,/node_12,/node_20,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_15" output="screen">
		<param name="position" value="['61.2459861882','7.22862792128','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_16,/node_14,/node_13,/node_12,/node_20,/node_88,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_16" output="screen">
		<param name="position" value="['51.7474019938','12.6758211536','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_18,/node_17,/node_15,/node_13,/node_27,/node_22,/node_21,/node_88"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_17" output="screen">
		<param name="position" value="['49.8091897145','10.6640748263','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_18,/node_16,/node_15,/node_13,/node_27,/node_22,/node_21,/node_88"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_18" output="screen">
		<param name="position" value="['49.3372231602','12.8548245341','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_17,/node_16,/node_27,/node_22,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_19" output="screen">
		<param name="position" value="['51.8308832666','17.6118014404','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_17,/node_16,/node_27,/node_25,/node_22,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_20" output="screen">
		<param name="position" value="['71.3328069698','13.5745133432','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_15,/node_14,/node_3,/node_12,/node_23,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_21" output="screen">
		<param name="position" value="['43.9040717728','20.3502354632','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_18,/node_17,/node_16,/node_27,/node_25,/node_22"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_22" output="screen">
		<param name="position" value="['49.6622195874','20.6232361312','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_18,/node_17,/node_16,/node_27,/node_25,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_23" output="screen">
		<param name="position" value="['77.552720892','21.6685071687','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_6,/node_5,/node_3,/node_11,/node_10,/node_20"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_24" output="screen">
		<param name="position" value="['57.4955808248','32.9868021298','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_30,/node_31,/node_26,/node_27,/node_25,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_25" output="screen">
		<param name="position" value="['46.9454849467','28.5161978284','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_31,/node_30,/node_27,/node_24,/node_22,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_26" output="screen">
		<param name="position" value="['59.8230615649','32.2402606824','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_6,/node_27,/node_24,/node_30,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_27" output="screen">
		<param name="position" value="['54.1169564008','20.5911924766','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_18,/node_17,/node_16,/node_26,/node_24,/node_25,/node_22,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_28" output="screen">
		<param name="position" value="['66.9964739469','8.48231944523','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_15,/node_14,/node_13,/node_12,/node_20"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_29" output="screen">
		<param name="position" value="['59.2349855129','43.7629879544','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_30,/node_33,/node_35,/node_37,/node_26,/node_24"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_30" output="screen">
		<param name="position" value="['50.6454222067','37.9151101283','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_33,/node_35,/node_34,/node_37,/node_26,/node_24,/node_25,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_31" output="screen">
		<param name="position" value="['46.4718835743','39.5584328601','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_33,/node_32,/node_35,/node_34,/node_37,/node_24,/node_25"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_32" output="screen">
		<param name="position" value="['39.0125722957','46.5393748815','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_31,/node_33,/node_35,/node_34,/node_37,/node_36"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_33" output="screen">
		<param name="position" value="['47.548037474','47.3656261859','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_31,/node_30,/node_32,/node_35,/node_34,/node_37,/node_36,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_34" output="screen">
		<param name="position" value="['40.904806445','43.8238004027','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_31,/node_30,/node_33,/node_32,/node_35,/node_37,/node_36"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_35" output="screen">
		<param name="position" value="['47.4098738671','49.4034917413','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_31,/node_30,/node_33,/node_32,/node_34,/node_37,/node_36,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_36" output="screen">
		<param name="position" value="['39.0218115131','52.6488591164','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_33,/node_32,/node_35,/node_34,/node_37"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_37" output="screen">
		<param name="position" value="['46.507189405','43.9982383325','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_31,/node_30,/node_33,/node_32,/node_35,/node_34,/node_36,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_38" output="screen">
		<param name="position" value="['42.438610635','53.1569250153','0']"/>
		<param name="neighbour_nodes_list" value="/node_33,/node_32,/node_35,/node_34,/node_37,/node_36"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_39" output="screen">
		<param name="position" value="['25.200638717','54.5813476405','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_40,/node_85,/node_43,/node_75,/node_74"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_40" output="screen">
		<param name="position" value="['28.4915501616','63.3373571487','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_41,/node_42,/node_43,/node_44,/node_75,/node_64"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_41" output="screen">
		<param name="position" value="['25.7360334402','70.8787301638','0']"/>
		<param name="neighbour_nodes_list" value="/node_40,/node_75,/node_42,/node_44,/node_64"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_42" output="screen">
		<param name="position" value="['31.588400948','71.1860094046','0']"/>
		<param name="neighbour_nodes_list" value="/node_40,/node_41,/node_75,/node_44,/node_55"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_43" output="screen">
		<param name="position" value="['21.4090437126','54.0670546223','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_84,/node_40,/node_85,/node_45,/node_75,/node_74,/node_64"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_44" output="screen">
		<param name="position" value="['29.525929966','67.2626709272','0']"/>
		<param name="neighbour_nodes_list" value="/node_40,/node_41,/node_42,/node_75,/node_64"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_45" output="screen">
		<param name="position" value="['15.2852189061','44.3349750923','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_53,/node_43,/node_78,/node_83,/node_74,/node_76,/node_71"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_46" output="screen">
		<param name="position" value="['18.2363462341','30.053995897','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_53,/node_78,/node_54,/node_76,/node_71"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_47" output="screen">
		<param name="position" value="['8.66207006617','27.0225180632','0']"/>
		<param name="neighbour_nodes_list" value="/node_66,/node_53,/node_86,/node_79,/node_46,/node_54,/node_48,/node_80,/node_71"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_48" output="screen">
		<param name="position" value="['7.9542214','14.991413445','0']"/>
		<param name="neighbour_nodes_list" value="/node_51,/node_50,/node_79,/node_81,/node_47,/node_80,/node_49,/node_66,/node_73,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_49" output="screen">
		<param name="position" value="['16.093458236','15.2916443314','0']"/>
		<param name="neighbour_nodes_list" value="/node_50,/node_80,/node_81,/node_54,/node_48,/node_73"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_50" output="screen">
		<param name="position" value="['16.3880823641','7.6096185083','0']"/>
		<param name="neighbour_nodes_list" value="/node_51,/node_80,/node_81,/node_48,/node_49,/node_73"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_51" output="screen">
		<param name="position" value="['5.67417177025','3.06354256148','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_50,/node_80,/node_81,/node_48,/node_73,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_52" output="screen">
		<param name="position" value="['3.90549989033','1.09867202528','0']"/>
		<param name="neighbour_nodes_list" value="/node_51,/node_81,/node_73,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_53" output="screen">
		<param name="position" value="['13.420384819','31.4539203622','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_86,/node_79,/node_45,/node_46,/node_54,/node_76,/node_71,/node_78"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_54" output="screen">
		<param name="position" value="['20.6310393866','21.9100104547','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_80,/node_46,/node_47,/node_49,/node_71"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_55" output="screen">
		<param name="position" value="['33.3338995902','83.0934419635','0']"/>
		<param name="neighbour_nodes_list" value="/node_42,/node_57,/node_56"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_56" output="screen">
		<param name="position" value="['37.2373217685','87.548678913','0']"/>
		<param name="neighbour_nodes_list" value="/node_89,/node_57,/node_55,/node_63,/node_59,/node_58,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_57" output="screen">
		<param name="position" value="['41.3141778935','85.1251761578','0']"/>
		<param name="neighbour_nodes_list" value="/node_56,/node_55,/node_63,/node_59,/node_58,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_58" output="screen">
		<param name="position" value="['46.2709224925','94.1197349132','0']"/>
		<param name="neighbour_nodes_list" value="/node_87,/node_57,/node_56,/node_62,/node_63,/node_59,/node_61,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_59" output="screen">
		<param name="position" value="['41.5151633539','93.788825606','0']"/>
		<param name="neighbour_nodes_list" value="/node_58,/node_57,/node_56,/node_63,/node_61,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_60" output="screen">
		<param name="position" value="['60.4134249886','93.8317575552','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_69,/node_87,/node_62,/node_77,/node_61,/node_70,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_61" output="screen">
		<param name="position" value="['52.0434219519','95.319430542','0']"/>
		<param name="neighbour_nodes_list" value="/node_67,/node_68,/node_87,/node_62,/node_63,/node_59,/node_58,/node_60"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_62" output="screen">
		<param name="position" value="['56.7107269012','94.9978300943','0']"/>
		<param name="neighbour_nodes_list" value="/node_58,/node_70,/node_77,/node_68,/node_69,/node_87,/node_63,/node_60,/node_61,/node_67,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_63" output="screen">
		<param name="position" value="['44.3138815486','90.7944662708','0']"/>
		<param name="neighbour_nodes_list" value="/node_58,/node_87,/node_57,/node_56,/node_62,/node_59,/node_61,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_64" output="screen">
		<param name="position" value="['18.7451774268','66.9045595013','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_40,/node_41,/node_43,/node_44,/node_75"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_65" output="screen">
		<param name="position" value="['0.159440110447','9.58401397983','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_51,/node_80,/node_81,/node_48,/node_66,/node_73"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_66" output="screen">
		<param name="position" value="['2.66284892004','19.8458924739','0']"/>
		<param name="neighbour_nodes_list" value="/node_80,/node_81,/node_47,/node_48,/node_79,/node_73,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_67" output="screen">
		<param name="position" value="['48.1267199219','86.8728255721','0']"/>
		<param name="neighbour_nodes_list" value="/node_58,/node_87,/node_57,/node_56,/node_62,/node_63,/node_59,/node_61"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_68" output="screen">
		<param name="position" value="['64.3920843137','98.9145862277','0']"/>
		<param name="neighbour_nodes_list" value="/node_77,/node_69,/node_62,/node_60,/node_61,/node_70,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_69" output="screen">
		<param name="position" value="['67.9402260309','94.980297419','0']"/>
		<param name="neighbour_nodes_list" value="/node_70,/node_68,/node_62,/node_60,/node_77,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_70" output="screen">
		<param name="position" value="['66.1277741506','90.1426087133','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_69,/node_87,/node_62,/node_60,/node_77,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_71" output="screen">
		<param name="position" value="['14.6011887267','32.7633693772','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_53,/node_86,/node_45,/node_46,/node_54,/node_76,/node_78"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_72" output="screen">
		<param name="position" value="['67.3076673783','94.2000340861','0']"/>
		<param name="neighbour_nodes_list" value="/node_70,/node_68,/node_69,/node_62,/node_60,/node_77"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_73" output="screen">
		<param name="position" value="['10.9550015369','10.2736236709','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_51,/node_50,/node_80,/node_81,/node_48,/node_49,/node_66,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_74" output="screen">
		<param name="position" value="['15.2610933753','50.4787124911','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_84,/node_85,/node_43,/node_45,/node_83,/node_76,/node_78"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_75" output="screen">
		<param name="position" value="['20.9439185509','64.3561568047','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_85,/node_40,/node_41,/node_42,/node_43,/node_44,/node_64"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_76" output="screen">
		<param name="position" value="['15.4478681511','40.3630902792','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_53,/node_45,/node_46,/node_74,/node_71,/node_78"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_77" output="screen">
		<param name="position" value="['68.3486681306','89.7637214335','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_69,/node_62,/node_60,/node_70,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_78" output="screen">
		<param name="position" value="['16.5192955268','38.5448228656','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_53,/node_45,/node_46,/node_74,/node_76,/node_71"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_79" output="screen">
		<param name="position" value="['3.810431905','23.6076517267','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_86,/node_80,/node_81,/node_47,/node_48,/node_66"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_80" output="screen">
		<param name="position" value="['10.6678732581','15.015410442','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_51,/node_50,/node_79,/node_81,/node_54,/node_48,/node_49,/node_66,/node_73,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_81" output="screen">
		<param name="position" value="['8.32909417135','13.3487213245','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_51,/node_50,/node_79,/node_48,/node_49,/node_80,/node_66,/node_73,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_82" output="screen">
		<param name="position" value="['1.96651244859','43.6654788068','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_86,/node_83"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_83" output="screen">
		<param name="position" value="['7.23517268721','53.6299079941','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_74,/node_45,/node_82,/node_85"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_84" output="screen">
		<param name="position" value="['13.5685569191','48.9622283287','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_85,/node_43,/node_45,/node_82,/node_83,/node_74,/node_76,/node_78"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_85" output="screen">
		<param name="position" value="['14.6692338508','61.6241161462','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_84,/node_43,/node_83,/node_75,/node_74,/node_64"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_86" output="screen">
		<param name="position" value="['2.98666449957','33.6383974751','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_79,/node_71,/node_82,/node_47"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_87" output="screen">
		<param name="position" value="['54.2473195013','90.5055360244','0']"/>
		<param name="neighbour_nodes_list" value="/node_58,/node_70,/node_62,/node_63,/node_60,/node_61,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_88" output="screen">
		<param name="position" value="['55.0682384551','0.260767915082','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_16,/node_15,/node_13"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_89" output="screen">
		<param name="position" value="['26.1287201884','94.5332361369','0']"/>
		<param name="neighbour_nodes_list" value="/node_95,/node_98,/node_56,/node_91,/node_90"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_90" output="screen">
		<param name="position" value="['15.0473938787','99.7001091835','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_95,/node_93,/node_92,/node_91,/node_89,/node_99,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_91" output="screen">
		<param name="position" value="['19.1519946593','93.3588816297','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_95,/node_93,/node_90,/node_89,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_92" output="screen">
		<param name="position" value="['3.31684795218','97.887666816','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_95,/node_94,/node_93,/node_90,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_93" output="screen">
		<param name="position" value="['7.69611275429','95.6691752108','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_95,/node_94,/node_92,/node_91,/node_90,/node_99,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_94" output="screen">
		<param name="position" value="['0.461096623518','99.3403684803','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_93,/node_92,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_95" output="screen">
		<param name="position" value="['13.9114647859','92.0851462912','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_93,/node_92,/node_91,/node_90,/node_89,/node_99,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_96" output="screen">
		<param name="position" value="['4.5886361327','88.0825605975','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_95,/node_94,/node_93,/node_92,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_97" output="screen">
		<param name="position" value="['7.99129632643','88.6314031516','0']"/>
		<param name="neighbour_nodes_list" value="/node_96,/node_95,/node_94,/node_93,/node_92,/node_91,/node_90,/node_99,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_98" output="screen">
		<param name="position" value="['16.6980491283','94.1617619118','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_95,/node_93,/node_91,/node_90,/node_89,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_99" output="screen">
		<param name="position" value="['6.23821530851','97.3654121512','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_95,/node_94,/node_93,/node_92,/node_90,/node_98"/>
	</node>
</launch>