<launch>
	<master auto="start"/>	
	<param name="/use_sim_time" value="false"/>

	# parameter graph_info = ['N','l','d']
	<param name="graph_info" value="['10','100','4']"/>

	<node pkg="k-saap_pkg" type="node.py" name="node_1" output="screen">
		<param name="position" value="['43.0677282326','28.0769998156','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_6,/node_33,/node_4,/node_13,/node_2,/node_11,/node_52,/node_50,/node_20,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_2" output="screen">
		<param name="position" value="['33.4798877091','26.497865737','0']"/>
		<param name="neighbour_nodes_list" value="/node_13,/node_14,/node_19,/node_38,/node_6,/node_33,/node_4,/node_3,/node_12,/node_11,/node_1,/node_20,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_3" output="screen">
		<param name="position" value="['20.7399947964','28.8343343123','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_7,/node_6,/node_5,/node_32,/node_2,/node_10,/node_24,/node_20,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_4" output="screen">
		<param name="position" value="['34.4811333235','37.6989342731','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_6,/node_5,/node_2,/node_1,/node_41,/node_42,/node_50,/node_20,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_5" output="screen">
		<param name="position" value="['19.1797974413','36.9039425088','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_18,/node_9,/node_8,/node_7,/node_6,/node_4,/node_3,/node_10,/node_26,/node_24,/node_20,/node_16"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_6" output="screen">
		<param name="position" value="['32.2479358715','37.3011254366','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_5,/node_4,/node_3,/node_2,/node_1,/node_42,/node_50,/node_20,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_7" output="screen">
		<param name="position" value="['16.4130218997','31.1321942082','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_5,/node_3,/node_10,/node_24,/node_20,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_8" output="screen">
		<param name="position" value="['14.6386394735','44.5381028031','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_9,/node_18,/node_7,/node_16,/node_5,/node_10,/node_26,/node_17,/node_25,/node_23,/node_15"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_9" output="screen">
		<param name="position" value="['27.7083604052','47.6790974432','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_18,/node_8,/node_17,/node_16,/node_5,/node_4,/node_42,/node_6,/node_15"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_10" output="screen">
		<param name="position" value="['13.7139918341','33.7233729989','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_8,/node_7,/node_5,/node_3,/node_26,/node_27,/node_24,/node_25,/node_22,/node_23,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_11" output="screen">
		<param name="position" value="['36.2187867388','20.7948740465','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_33,/node_14,/node_13,/node_2,/node_1,/node_12,/node_52,/node_20,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_12" output="screen">
		<param name="position" value="['33.4817009087','14.5490113971','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_33,/node_14,/node_13,/node_2,/node_11,/node_21,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_13" output="screen">
		<param name="position" value="['35.3664203293','16.8216706344','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_33,/node_14,/node_12,/node_1,/node_2,/node_52,/node_11,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_14" output="screen">
		<param name="position" value="['38.0882919967','13.9980438565','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_33,/node_13,/node_12,/node_1,/node_2,/node_52,/node_11,/node_21"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_15" output="screen">
		<param name="position" value="['23.1763853908','57.1029262977','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_9,/node_18,/node_17,/node_16,/node_8,/node_42"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_16" output="screen">
		<param name="position" value="['14.3876034751','51.4856208602','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_9,/node_18,/node_17,/node_5,/node_8,/node_26,/node_25,/node_23,/node_15"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_17" output="screen">
		<param name="position" value="['15.42068311','54.0163680711','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_9,/node_18,/node_16,/node_15,/node_8,/node_26,/node_25"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_18" output="screen">
		<param name="position" value="['16.9595003524','49.1776482584','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_9,/node_8,/node_17,/node_16,/node_5,/node_26,/node_25,/node_15"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_19" output="screen">
		<param name="position" value="['29.1374524527','12.9405896103','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_32,/node_14,/node_13,/node_2,/node_11,/node_12,/node_21,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_20" output="screen">
		<param name="position" value="['30.4979273633','31.5751133819','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_7,/node_6,/node_5,/node_4,/node_3,/node_2,/node_1,/node_11,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_21" output="screen">
		<param name="position" value="['36.3779420977','10.5862089811','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_33,/node_14,/node_13,/node_12,/node_11"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_22" output="screen">
		<param name="position" value="['0.624839947762','32.0145723377','0']"/>
		<param name="neighbour_nodes_list" value="/node_27,/node_24,/node_25,/node_23,/node_10"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_23" output="screen">
		<param name="position" value="['3.4294940453','40.6719919177','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_16,/node_10,/node_26,/node_24,/node_25,/node_22"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_24" output="screen">
		<param name="position" value="['7.83476678536','27.5764212751','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_30,/node_5,/node_3,/node_31,/node_10,/node_40,/node_27,/node_22,/node_23,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_25" output="screen">
		<param name="position" value="['5.06600598554','44.5819522799','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_18,/node_17,/node_16,/node_8,/node_10,/node_26,/node_22,/node_23"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_26" output="screen">
		<param name="position" value="['11.1907689767','46.7146280408','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_18,/node_17,/node_16,/node_5,/node_8,/node_10,/node_25,/node_23"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_27" output="screen">
		<param name="position" value="['3.68782088401','22.2210375472','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_10,/node_40,/node_24,/node_22,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_28" output="screen">
		<param name="position" value="['6.85251364946','10.6809507186','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_32,/node_35,/node_34,/node_37,/node_36,/node_40,/node_27,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_29" output="screen">
		<param name="position" value="['19.0096994481','19.619591837','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_34,/node_19,/node_7,/node_32,/node_3,/node_12,/node_10,/node_40,/node_31,/node_24,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_30" output="screen">
		<param name="position" value="['3.83347083109','16.9365382948','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_32,/node_35,/node_34,/node_37,/node_36,/node_40,/node_27,/node_24,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_31" output="screen">
		<param name="position" value="['4.87586235839','16.2519032205','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_32,/node_35,/node_34,/node_37,/node_36,/node_40,/node_27,/node_24,/node_28,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_32" output="screen">
		<param name="position" value="['17.8885673471','14.8703039434','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_31,/node_30,/node_3,/node_34,/node_37,/node_40,/node_28,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_33" output="screen">
		<param name="position" value="['44.9844318854','21.2684436993','0']"/>
		<param name="neighbour_nodes_list" value="/node_14,/node_13,/node_12,/node_1,/node_2,/node_52,/node_11,/node_21,/node_49"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_34" output="screen">
		<param name="position" value="['12.1481056702','7.56093352864','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_32,/node_35,/node_37,/node_36,/node_40,/node_28,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_35" output="screen">
		<param name="position" value="['5.82747469864','4.30191782468','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_34,/node_37,/node_36,/node_40,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_36" output="screen">
		<param name="position" value="['3.12569298246','5.61212663273','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_35,/node_34,/node_37,/node_40,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_37" output="screen">
		<param name="position" value="['7.0320966972','5.81272630027','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_32,/node_35,/node_34,/node_36,/node_40,/node_28"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_38" output="screen">
		<param name="position" value="['28.3900574968','19.1241727404','0']"/>
		<param name="neighbour_nodes_list" value="/node_32,/node_19,/node_3,/node_14,/node_13,/node_2,/node_11,/node_12,/node_20,/node_21,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_39" output="screen">
		<param name="position" value="['19.0084806216','47.9495500141','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_17,/node_16,/node_5,/node_18,/node_10,/node_26,/node_42,/node_25,/node_15"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_40" output="screen">
		<param name="position" value="['9.92009376857','13.6842164563','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_30,/node_32,/node_35,/node_34,/node_37,/node_36,/node_27,/node_24,/node_28,/node_29"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_41" output="screen">
		<param name="position" value="['44.7439511283','48.8330444281','0']"/>
		<param name="neighbour_nodes_list" value="/node_4,/node_43,/node_53,/node_42,/node_50,/node_44,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_42" output="screen">
		<param name="position" value="['32.2925349525','52.0363833835','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_9,/node_6,/node_15,/node_4,/node_41"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_43" output="screen">
		<param name="position" value="['54.9276911448','39.7167886614','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_41,/node_50,/node_44,/node_49,/node_67,/node_64,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_44" output="screen">
		<param name="position" value="['56.9916341054','54.0016812379','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_41,/node_51,/node_43,/node_45,/node_48"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_45" output="screen">
		<param name="position" value="['68.1635865589','63.8257866638','0']"/>
		<param name="neighbour_nodes_list" value="/node_51,/node_44,/node_46,/node_47,/node_48,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_46" output="screen">
		<param name="position" value="['63.0249645259','69.3819653226','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_51,/node_45,/node_54,/node_48,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_47" output="screen">
		<param name="position" value="['67.5055068069','69.3901975084','0']"/>
		<param name="neighbour_nodes_list" value="/node_51,/node_45,/node_46,/node_54,/node_48,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_48" output="screen">
		<param name="position" value="['69.8774145018','56.2023335723','0']"/>
		<param name="neighbour_nodes_list" value="/node_51,/node_44,/node_45,/node_46,/node_47,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_49" output="screen">
		<param name="position" value="['58.4871114241','25.5024543809','0']"/>
		<param name="neighbour_nodes_list" value="/node_33,/node_52,/node_43,/node_63,/node_66,/node_64,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_50" output="screen">
		<param name="position" value="['44.9281272915','40.5146794086','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_4,/node_1,/node_53,/node_41,/node_43,/node_67"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_51" output="screen">
		<param name="position" value="['64.5671867865','57.1835420923','0']"/>
		<param name="neighbour_nodes_list" value="/node_44,/node_45,/node_46,/node_47,/node_48,/node_99"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_52" output="screen">
		<param name="position" value="['50.0497003556','19.743127439','0']"/>
		<param name="neighbour_nodes_list" value="/node_33,/node_14,/node_13,/node_11,/node_1,/node_49,/node_66"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_53" output="screen">
		<param name="position" value="['50.1449756155','49.766308614','0']"/>
		<param name="neighbour_nodes_list" value="/node_41,/node_50,/node_43,/node_44"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_54" output="screen">
		<param name="position" value="['55.8628006247','79.1773371874','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_56,/node_55,/node_46,/node_47"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_55" output="screen">
		<param name="position" value="['43.9293296428','84.5578481746','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_87,/node_56,/node_54,/node_62,/node_59,/node_58,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_56" output="screen">
		<param name="position" value="['44.4079124699','89.0791804231','0']"/>
		<param name="neighbour_nodes_list" value="/node_58,/node_68,/node_87,/node_57,/node_55,/node_54,/node_62,/node_59,/node_61,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_57" output="screen">
		<param name="position" value="['34.9942188275','99.6266875563','0']"/>
		<param name="neighbour_nodes_list" value="/node_58,/node_89,/node_68,/node_56,/node_62,/node_59,/node_61,/node_88,/node_60"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_58" output="screen">
		<param name="position" value="['47.7052236567','98.0198923363','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_57,/node_56,/node_55,/node_62,/node_59"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_59" output="screen">
		<param name="position" value="['45.9837250954','97.9423877597','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_57,/node_56,/node_55,/node_62,/node_58,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_60" output="screen">
		<param name="position" value="['30.0264539723','97.7197850586','0']"/>
		<param name="neighbour_nodes_list" value="/node_86,/node_57,/node_62,/node_61,/node_88,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_61" output="screen">
		<param name="position" value="['30.5235253103','95.657278611','0']"/>
		<param name="neighbour_nodes_list" value="/node_86,/node_68,/node_87,/node_57,/node_56,/node_62,/node_60,/node_88,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_62" output="screen">
		<param name="position" value="['41.0100253528','94.9774044919','0']"/>
		<param name="neighbour_nodes_list" value="/node_61,/node_89,/node_68,/node_87,/node_57,/node_56,/node_55,/node_60,/node_58,/node_59"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_63" output="screen">
		<param name="position" value="['69.9989129066','29.3440646806','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_69,/node_80,/node_49,/node_66,/node_70,/node_64,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_64" output="screen">
		<param name="position" value="['63.5057533939','39.5839705488','0']"/>
		<param name="neighbour_nodes_list" value="/node_65,/node_49,/node_43,/node_66,/node_63"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_65" output="screen">
		<param name="position" value="['60.2842433748','37.0641781623','0']"/>
		<param name="neighbour_nodes_list" value="/node_49,/node_43,/node_66,/node_64,/node_63"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_66" output="screen">
		<param name="position" value="['62.3697358858','25.0690905163','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_69,/node_63,/node_49,/node_70,/node_64,/node_65"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_67" output="screen">
		<param name="position" value="['40.5449479672','37.6011339903','0']"/>
		<param name="neighbour_nodes_list" value="/node_6,/node_4,/node_2,/node_1,/node_41,/node_43,/node_20,/node_50"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_68" output="screen">
		<param name="position" value="['43.6091282578','88.3350769448','0']"/>
		<param name="neighbour_nodes_list" value="/node_61,/node_87,/node_57,/node_56,/node_55,/node_54,/node_62,/node_59,/node_58,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_69" output="screen">
		<param name="position" value="['75.3693495177','25.3224166915','0']"/>
		<param name="neighbour_nodes_list" value="/node_66,/node_84,/node_80,/node_63,/node_76,/node_71,/node_70"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_70" output="screen">
		<param name="position" value="['77.2721914297','27.1924028029','0']"/>
		<param name="neighbour_nodes_list" value="/node_66,/node_84,/node_69,/node_80,/node_82,/node_63,/node_76,/node_71"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_71" output="screen">
		<param name="position" value="['89.6869830256','21.963927141','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_85,/node_69,/node_79,/node_78,/node_82,/node_80,/node_76,/node_70,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_72" output="screen">
		<param name="position" value="['86.6952789212','9.1509782498','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_79,/node_81,/node_83,/node_75,/node_77,/node_76,/node_71,/node_73"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_73" output="screen">
		<param name="position" value="['75.638636868','3.14888284204','0']"/>
		<param name="neighbour_nodes_list" value="/node_81,/node_83,/node_75,/node_74,/node_77,/node_76,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_74" output="screen">
		<param name="position" value="['71.3646162817','2.33928812946','0']"/>
		<param name="neighbour_nodes_list" value="/node_75,/node_77,/node_76,/node_73,/node_83"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_75" output="screen">
		<param name="position" value="['79.890887676','7.06724783357','0']"/>
		<param name="neighbour_nodes_list" value="/node_81,/node_83,/node_74,/node_77,/node_76,/node_73,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_76" output="screen">
		<param name="position" value="['80.5435150328','12.2675073646','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_85,/node_69,/node_81,/node_83,/node_75,/node_74,/node_77,/node_71,/node_70,/node_73,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_77" output="screen">
		<param name="position" value="['76.9655273899','1.64559236257','0']"/>
		<param name="neighbour_nodes_list" value="/node_81,/node_83,/node_75,/node_74,/node_76,/node_73,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_78" output="screen">
		<param name="position" value="['99.7661639474','26.0221021696','0']"/>
		<param name="neighbour_nodes_list" value="/node_79,/node_71,/node_82,/node_85"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_79" output="screen">
		<param name="position" value="['98.49222717','13.0655144467','0']"/>
		<param name="neighbour_nodes_list" value="/node_81,/node_71,/node_78,/node_85,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_80" output="screen">
		<param name="position" value="['84.5120733366','30.0907045996','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_85,/node_69,/node_82,/node_63,/node_71,/node_70"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_81" output="screen">
		<param name="position" value="['90.5374737844','3.32681445353','0']"/>
		<param name="neighbour_nodes_list" value="/node_79,/node_83,/node_75,/node_77,/node_76,/node_73,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_82" output="screen">
		<param name="position" value="['91.6306299187','28.8850764639','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_85,/node_80,/node_78,/node_71,/node_70"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_83" output="screen">
		<param name="position" value="['76.7938796586','4.81700330294','0']"/>
		<param name="neighbour_nodes_list" value="/node_81,/node_75,/node_74,/node_77,/node_76,/node_73,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_84" output="screen">
		<param name="position" value="['83.8850599563','24.8778474618','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_69,/node_80,/node_82,/node_63,/node_76,/node_71,/node_70"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_85" output="screen">
		<param name="position" value="['91.8962859218','22.3225995033','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_80,/node_78,/node_82,/node_79,/node_76,/node_71,/node_72"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_86" output="screen">
		<param name="position" value="['26.0588366333','83.2194177877','0']"/>
		<param name="neighbour_nodes_list" value="/node_96,/node_87,/node_92,/node_90,/node_60,/node_61,/node_88,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_87" output="screen">
		<param name="position" value="['37.6748326785','84.0577059948','0']"/>
		<param name="neighbour_nodes_list" value="/node_86,/node_68,/node_56,/node_55,/node_62,/node_61,/node_88,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_88" output="screen">
		<param name="position" value="['26.1068475553','89.5182471447','0']"/>
		<param name="neighbour_nodes_list" value="/node_96,/node_86,/node_87,/node_57,/node_60,/node_61,/node_89"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_89" output="screen">
		<param name="position" value="['34.222945108','89.7815809992','0']"/>
		<param name="neighbour_nodes_list" value="/node_86,/node_68,/node_87,/node_57,/node_56,/node_55,/node_62,/node_59,/node_61,/node_88,/node_60"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_90" output="screen">
		<param name="position" value="['11.311668562','80.487080784','0']"/>
		<param name="neighbour_nodes_list" value="/node_95,/node_97,/node_96,/node_86,/node_94,/node_93,/node_91,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_91" output="screen">
		<param name="position" value="['12.9337665832','70.1265356957','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_94,/node_93,/node_92,/node_90,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_92" output="screen">
		<param name="position" value="['25.3299978038','72.7148207434','0']"/>
		<param name="neighbour_nodes_list" value="/node_96,/node_86,/node_93,/node_91"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_93" output="screen">
		<param name="position" value="['11.4658269053','72.7286851278','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_94,/node_92,/node_91,/node_90,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_94" output="screen">
		<param name="position" value="['6.19276040413','81.9516882082','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_95,/node_93,/node_91,/node_90,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_95" output="screen">
		<param name="position" value="['1.20670497714','87.0928085097','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_94,/node_98,/node_90"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_96" output="screen">
		<param name="position" value="['15.6885018031','83.4157506126','0']"/>
		<param name="neighbour_nodes_list" value="/node_95,/node_97,/node_86,/node_94,/node_93,/node_92,/node_91,/node_90,/node_88,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_97" output="screen">
		<param name="position" value="['3.44756761706','81.8296277691','0']"/>
		<param name="neighbour_nodes_list" value="/node_96,/node_95,/node_94,/node_93,/node_91,/node_90,/node_98"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_98" output="screen">
		<param name="position" value="['7.67163046143','76.6787307006','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_95,/node_94,/node_93,/node_91,/node_90"/>
	</node>
	<node pkg="k-saap_pkg" type="node.py" name="node_99" output="screen">
		<param name="position" value="['74.613035151','68.3852323641','0']"/>
		<param name="neighbour_nodes_list" value="/node_48,/node_51,/node_45,/node_46,/node_47"/>
	</node>
</launch>