<launch>
	<master auto="start"/>	
	<param name="/use_sim_time" value="false"/>


	<node pkg="sap_pkg" type="node.py" name="node_1" output="screen">
		<param name="position" value="['24.6010669879','63.7946678966','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_96,/node_7,/node_16,/node_3,/node_2,/node_41,/node_43"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_2" output="screen">
		<param name="position" value="['34.8128615043','65.1658881306','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_19,/node_8,/node_16,/node_3,/node_1,/node_26,/node_96,/node_95,/node_93,/node_20,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_3" output="screen">
		<param name="position" value="['33.7019384882','64.2188065442','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_9,/node_8,/node_16,/node_2,/node_1,/node_26,/node_96,/node_95,/node_43,/node_93"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_4" output="screen">
		<param name="position" value="['10.762669514','72.3783915815','0']"/>
		<param name="neighbour_nodes_list" value="/node_41,/node_7,/node_6,/node_5,/node_17,/node_43,/node_44,/node_77,/node_88,/node_15"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_5" output="screen">
		<param name="position" value="['7.88749531053','86.8466643378','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_6,/node_15,/node_4,/node_12,/node_11,/node_10,/node_40,/node_22,/node_91,/node_44,/node_77,/node_88"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_6" output="screen">
		<param name="position" value="['2.62740060729','76.3409004749','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_5,/node_4,/node_40,/node_44,/node_77,/node_88,/node_15"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_7" output="screen">
		<param name="position" value="['16.7083675221','67.3781890859','0']"/>
		<param name="neighbour_nodes_list" value="/node_16,/node_4,/node_1,/node_41,/node_43,/node_44"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_8" output="screen">
		<param name="position" value="['41.8424056915','72.5181149557','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_19,/node_18,/node_47,/node_3,/node_2,/node_26,/node_86,/node_20,/node_21,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_9" output="screen">
		<param name="position" value="['35.2270923786','71.40580434','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_19,/node_8,/node_16,/node_14,/node_3,/node_2,/node_1,/node_26,/node_86,/node_20,/node_21,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_10" output="screen">
		<param name="position" value="['13.2949911783','94.183432892','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_5,/node_13,/node_12,/node_11,/node_40,/node_22,/node_91,/node_77"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_11" output="screen">
		<param name="position" value="['17.785030185','91.9723689083','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_5,/node_14,/node_13,/node_12,/node_10,/node_40,/node_22,/node_91,/node_77"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_12" output="screen">
		<param name="position" value="['4.57731334003','97.413883507','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_5,/node_11,/node_10,/node_40,/node_22,/node_91,/node_88"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_13" output="screen">
		<param name="position" value="['28.1406476256','88.685372594','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_14,/node_11,/node_10,/node_47,/node_77,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_14" output="screen">
		<param name="position" value="['32.4344996035','86.0092464683','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_90,/node_13,/node_11,/node_86,/node_20,/node_47"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_15" output="screen">
		<param name="position" value="['1.63704267964','79.6104624934','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_6,/node_5,/node_4,/node_40,/node_44,/node_77,/node_88"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_16" output="screen">
		<param name="position" value="['27.0223792704','61.206296858','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_9,/node_96,/node_7,/node_3,/node_2,/node_1,/node_26,/node_41,/node_95,/node_43"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_17" output="screen">
		<param name="position" value="['12.1075653392','86.8848485557','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_6,/node_5,/node_4,/node_12,/node_11,/node_10,/node_40,/node_22,/node_91,/node_44,/node_77,/node_88,/node_15"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_18" output="screen">
		<param name="position" value="['56.2542002021','77.5735189228','0']"/>
		<param name="neighbour_nodes_list" value="/node_19,/node_8,/node_86,/node_24,/node_23,/node_20,/node_21,/node_75,/node_28"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_19" output="screen">
		<param name="position" value="['48.8502103679','65.1618042437','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_18,/node_8,/node_3,/node_2,/node_26,/node_95,/node_25,/node_93,/node_23,/node_20,/node_21"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_20" output="screen">
		<param name="position" value="['44.1903181518','76.8874800496','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_9,/node_19,/node_18,/node_14,/node_2,/node_8,/node_86,/node_21,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_21" output="screen">
		<param name="position" value="['47.9733422402','79.3860051284','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_19,/node_18,/node_8,/node_86,/node_20,/node_47,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_22" output="screen">
		<param name="position" value="['7.37690442778','99.9585374874','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_5,/node_12,/node_11,/node_10,/node_40,/node_91"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_23" output="screen">
		<param name="position" value="['53.9646101383','62.1854341315','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_18,/node_95,/node_26,/node_24,/node_25,/node_93,/node_45"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_24" output="screen">
		<param name="position" value="['64.364851058','70.3628840525','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_18,/node_30,/node_27,/node_25,/node_23,/node_75,/node_28,/node_45"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_25" output="screen">
		<param name="position" value="['57.8509546921','59.4731506535','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_19,/node_26,/node_24,/node_93,/node_23,/node_28,/node_45"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_26" output="screen">
		<param name="position" value="['42.2595499408','57.1900039341','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_19,/node_8,/node_16,/node_3,/node_2,/node_96,/node_95,/node_25,/node_93,/node_23,/node_98"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_27" output="screen">
		<param name="position" value="['73.5743619252','80.2265439099','0']"/>
		<param name="neighbour_nodes_list" value="/node_76,/node_31,/node_30,/node_35,/node_42,/node_24,/node_50,/node_78,/node_46,/node_75,/node_65,/node_28,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_28" output="screen">
		<param name="position" value="['66.890657919','71.6141568026','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_30,/node_35,/node_27,/node_24,/node_25,/node_45,/node_75,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_29" output="screen">
		<param name="position" value="['87.3361785872','76.7755831636','0']"/>
		<param name="neighbour_nodes_list" value="/node_62,/node_31,/node_36,/node_27,/node_50,/node_78,/node_48,/node_49,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_30" output="screen">
		<param name="position" value="['73.621799345','68.6850535195','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_27,/node_24,/node_50,/node_75,/node_45,/node_62,/node_63,/node_78,/node_28,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_31" output="screen">
		<param name="position" value="['81.60500272','90.4830501274','0']"/>
		<param name="neighbour_nodes_list" value="/node_33,/node_32,/node_35,/node_34,/node_36,/node_27,/node_42,/node_46,/node_75,/node_49,/node_76,/node_89,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_32" output="screen">
		<param name="position" value="['86.9495888599','93.3550559046','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_33,/node_34,/node_37,/node_36,/node_42,/node_46,/node_49,/node_89"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_33" output="screen">
		<param name="position" value="['74.4203229512','99.8479773321','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_32,/node_35,/node_42,/node_46,/node_76,/node_89"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_34" output="screen">
		<param name="position" value="['90.2993089358','98.6132135776','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_32,/node_37,/node_36,/node_42,/node_49,/node_89"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_35" output="screen">
		<param name="position" value="['69.7978723848','86.9381151044','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_33,/node_27,/node_42,/node_46,/node_75,/node_76,/node_89,/node_28"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_36" output="screen">
		<param name="position" value="['92.3353093761','90.4285048067','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_32,/node_34,/node_37,/node_42,/node_48,/node_49,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_37" output="screen">
		<param name="position" value="['98.3000619929','88.5198276035','0']"/>
		<param name="neighbour_nodes_list" value="/node_48,/node_49,/node_32,/node_34,/node_36"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_38" output="screen">
		<param name="position" value="['67.0716898723','55.4044086431','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_24,/node_25,/node_23,/node_63,/node_45"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_39" output="screen">
		<param name="position" value="['14.5752112165','95.6127243461','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_5,/node_13,/node_12,/node_11,/node_10,/node_40,/node_22,/node_91,/node_77"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_40" output="screen">
		<param name="position" value="['9.36216662225','89.1143962812','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_6,/node_5,/node_12,/node_11,/node_10,/node_22,/node_91,/node_44,/node_77,/node_88,/node_15"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_41" output="screen">
		<param name="position" value="['17.8660298219','71.3800797206','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_16,/node_4,/node_1,/node_43,/node_44,/node_77"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_42" output="screen">
		<param name="position" value="['78.1961591707','95.087062241','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_33,/node_32,/node_35,/node_34,/node_36,/node_27,/node_46,/node_76,/node_89"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_43" output="screen">
		<param name="position" value="['18.7980666502','68.1718995879','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_16,/node_4,/node_3,/node_1,/node_41,/node_44"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_44" output="screen">
		<param name="position" value="['8.95356215699','76.1788968938','0']"/>
		<param name="neighbour_nodes_list" value="/node_41,/node_7,/node_6,/node_5,/node_4,/node_40,/node_17,/node_43,/node_77,/node_88,/node_15"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_45" output="screen">
		<param name="position" value="['69.3293781546','62.894698584','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_30,/node_24,/node_25,/node_23,/node_62,/node_63,/node_28,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_46" output="screen">
		<param name="position" value="['72.9881651991','88.468042052','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_33,/node_32,/node_35,/node_27,/node_42,/node_75,/node_76,/node_89"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_47" output="screen">
		<param name="position" value="['38.1936192895','84.3051255124','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_14,/node_13,/node_86,/node_20,/node_21,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_48" output="screen">
		<param name="position" value="['97.0908870596','76.5773000813','0']"/>
		<param name="neighbour_nodes_list" value="/node_37,/node_36,/node_50,/node_78,/node_49,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_49" output="screen">
		<param name="position" value="['90.242897216','83.6691760269','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_32,/node_34,/node_37,/node_36,/node_50,/node_78,/node_48,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_50" output="screen">
		<param name="position" value="['83.41013404','70.6059362198','0']"/>
		<param name="neighbour_nodes_list" value="/node_62,/node_30,/node_65,/node_27,/node_51,/node_75,/node_78,/node_63,/node_48,/node_49,/node_61,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_51" output="screen">
		<param name="position" value="['92.5373405648','61.0858339565','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_50,/node_78,/node_62,/node_63,/node_61,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_52" output="screen">
		<param name="position" value="['86.1143394914','47.1856377214','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_51,/node_55,/node_62,/node_63,/node_60,/node_61,/node_59,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_53" output="screen">
		<param name="position" value="['74.3356866572','37.5699068042','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_87,/node_55,/node_54,/node_59,/node_60,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_54" output="screen">
		<param name="position" value="['78.2543963514','31.4726607063','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_85,/node_87,/node_57,/node_55,/node_79,/node_59,/node_58,/node_66,/node_60,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_55" output="screen">
		<param name="position" value="['88.6649604511','40.5205730166','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_52,/node_56,/node_54,/node_59,/node_60,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_56" output="screen">
		<param name="position" value="['94.2828056593','30.5904676289','0']"/>
		<param name="neighbour_nodes_list" value="/node_57,/node_55,/node_59,/node_58,/node_60,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_57" output="screen">
		<param name="position" value="['84.849184924','20.0396024574','0']"/>
		<param name="neighbour_nodes_list" value="/node_70,/node_85,/node_68,/node_79,/node_56,/node_54,/node_74,/node_59,/node_58,/node_66,/node_67,/node_73"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_58" output="screen">
		<param name="position" value="['91.4907081064','24.5871023081','0']"/>
		<param name="neighbour_nodes_list" value="/node_70,/node_57,/node_56,/node_54,/node_74,/node_59,/node_60,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_59" output="screen">
		<param name="position" value="['81.0168154401','32.8866056652','0']"/>
		<param name="neighbour_nodes_list" value="/node_85,/node_53,/node_52,/node_87,/node_57,/node_56,/node_55,/node_54,/node_79,/node_60,/node_58,/node_66,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_60" output="screen">
		<param name="position" value="['89.5897525968','39.0062577034','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_52,/node_56,/node_55,/node_54,/node_59,/node_58,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_61" output="screen">
		<param name="position" value="['90.0412675001','59.1758602498','0']"/>
		<param name="neighbour_nodes_list" value="/node_52,/node_51,/node_50,/node_78,/node_62,/node_63,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_62" output="screen">
		<param name="position" value="['81.7214039467','62.0241983729','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_52,/node_51,/node_50,/node_45,/node_65,/node_63,/node_78,/node_61,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_63" output="screen">
		<param name="position" value="['78.4195561606','59.0392517412','0']"/>
		<param name="neighbour_nodes_list" value="/node_38,/node_30,/node_52,/node_51,/node_50,/node_45,/node_62,/node_78,/node_61,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_64" output="screen">
		<param name="position" value="['82.5889474778','36.2899886315','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_52,/node_87,/node_56,/node_55,/node_54,/node_59,/node_58,/node_60"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_65" output="screen">
		<param name="position" value="['80.8338830918','67.0069614885','0']"/>
		<param name="neighbour_nodes_list" value="/node_30,/node_27,/node_51,/node_50,/node_75,/node_45,/node_62,/node_63,/node_78,/node_61,/node_28,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_66" output="screen">
		<param name="position" value="['75.4868575313','18.8943003859','0']"/>
		<param name="neighbour_nodes_list" value="/node_92,/node_84,/node_85,/node_68,/node_79,/node_81,/node_82,/node_54,/node_57,/node_59,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_67" output="screen">
		<param name="position" value="['85.4678908407','5.57368304999','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_69,/node_57,/node_92,/node_74,/node_71,/node_70,/node_73,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_68" output="screen">
		<param name="position" value="['81.4519779613','12.2301401362','0']"/>
		<param name="neighbour_nodes_list" value="/node_79,/node_66,/node_70,/node_85,/node_69,/node_57,/node_92,/node_74,/node_71,/node_67,/node_73,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_69" output="screen">
		<param name="position" value="['89.4702196559','1.37876842009','0']"/>
		<param name="neighbour_nodes_list" value="/node_70,/node_68,/node_74,/node_71,/node_67,/node_73"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_70" output="screen">
		<param name="position" value="['96.9376783534','10.8677347945','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_69,/node_57,/node_74,/node_58,/node_67,/node_73"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_71" output="screen">
		<param name="position" value="['78.7065901047','1.2943870618','0']"/>
		<param name="neighbour_nodes_list" value="/node_68,/node_69,/node_80,/node_92,/node_67,/node_73,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_72" output="screen">
		<param name="position" value="['73.6353479443','5.82668595489','0']"/>
		<param name="neighbour_nodes_list" value="/node_66,/node_84,/node_85,/node_68,/node_79,/node_81,/node_83,/node_80,/node_71,/node_67,/node_73,/node_92"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_73" output="screen">
		<param name="position" value="['87.8471830793','7.98319804758','0']"/>
		<param name="neighbour_nodes_list" value="/node_70,/node_68,/node_69,/node_57,/node_74,/node_71,/node_67,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_74" output="screen">
		<param name="position" value="['91.1742991222','11.6877245243','0']"/>
		<param name="neighbour_nodes_list" value="/node_70,/node_68,/node_69,/node_57,/node_58,/node_67,/node_73"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_75" output="screen">
		<param name="position" value="['71.2516841376','79.6703902766','0']"/>
		<param name="neighbour_nodes_list" value="/node_18,/node_31,/node_30,/node_35,/node_27,/node_24,/node_50,/node_46,/node_76,/node_28,/node_65"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_76" output="screen">
		<param name="position" value="['68.6817844582','88.2380427774','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_33,/node_35,/node_27,/node_42,/node_46,/node_75,/node_89"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_77" output="screen">
		<param name="position" value="['16.2570227522','84.3421886402','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_6,/node_5,/node_4,/node_13,/node_11,/node_10,/node_40,/node_41,/node_44,/node_91,/node_15"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_78" output="screen">
		<param name="position" value="['84.3837050707','68.9133383857','0']"/>
		<param name="neighbour_nodes_list" value="/node_62,/node_30,/node_65,/node_27,/node_51,/node_50,/node_63,/node_48,/node_49,/node_61,/node_29"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_79" output="screen">
		<param name="position" value="['71.7083221001','21.5002441337','0']"/>
		<param name="neighbour_nodes_list" value="/node_92,/node_83,/node_84,/node_85,/node_68,/node_87,/node_57,/node_81,/node_82,/node_54,/node_59,/node_66,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_80" output="screen">
		<param name="position" value="['70.1450690607','0.449280808328','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_83,/node_71,/node_92,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_81" output="screen">
		<param name="position" value="['63.3160692485','15.9335140314','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_85,/node_79,/node_92,/node_82,/node_83,/node_66,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_82" output="screen">
		<param name="position" value="['62.6632509491','21.5393407663','0']"/>
		<param name="neighbour_nodes_list" value="/node_84,/node_85,/node_87,/node_79,/node_81,/node_83,/node_66"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_83" output="screen">
		<param name="position" value="['61.3630281793','10.6940308105','0']"/>
		<param name="neighbour_nodes_list" value="/node_92,/node_84,/node_80,/node_81,/node_82,/node_79,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_84" output="screen">
		<param name="position" value="['63.8920951458','12.6346431344','0']"/>
		<param name="neighbour_nodes_list" value="/node_92,/node_85,/node_79,/node_81,/node_82,/node_83,/node_80,/node_66,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_85" output="screen">
		<param name="position" value="['74.9808211956','20.4338532828','0']"/>
		<param name="neighbour_nodes_list" value="/node_92,/node_84,/node_68,/node_57,/node_81,/node_82,/node_54,/node_79,/node_59,/node_66,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_86" output="screen">
		<param name="position" value="['43.6413905094','84.1174639','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_9,/node_18,/node_14,/node_8,/node_20,/node_21,/node_90"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_87" output="screen">
		<param name="position" value="['66.9206734598','34.3419334902','0']"/>
		<param name="neighbour_nodes_list" value="/node_53,/node_79,/node_82,/node_54,/node_59,/node_64"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_88" output="screen">
		<param name="position" value="['0.135017047017','83.408163491','0']"/>
		<param name="neighbour_nodes_list" value="/node_17,/node_6,/node_5,/node_4,/node_12,/node_40,/node_44,/node_15"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_89" output="screen">
		<param name="position" value="['77.2598054978','98.7539738272','0']"/>
		<param name="neighbour_nodes_list" value="/node_31,/node_33,/node_32,/node_35,/node_34,/node_42,/node_46,/node_76"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_90" output="screen">
		<param name="position" value="['34.374522961','81.0671568736','0']"/>
		<param name="neighbour_nodes_list" value="/node_47,/node_9,/node_8,/node_14,/node_13,/node_2,/node_86,/node_20,/node_21"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_91" output="screen">
		<param name="position" value="['12.0910156805','94.5790433024','0']"/>
		<param name="neighbour_nodes_list" value="/node_39,/node_17,/node_5,/node_12,/node_11,/node_10,/node_40,/node_22,/node_77"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_92" output="screen">
		<param name="position" value="['71.5648184106','8.09290269852','0']"/>
		<param name="neighbour_nodes_list" value="/node_66,/node_84,/node_85,/node_68,/node_79,/node_81,/node_83,/node_80,/node_71,/node_67,/node_72"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_93" output="screen">
		<param name="position" value="['42.7452789391','55.2133385072','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_19,/node_3,/node_2,/node_26,/node_96,/node_95,/node_25,/node_23,/node_98"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_94" output="screen">
		<param name="position" value="['38.025180023','39.8067718111','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_96,/node_95,/node_99,/node_98"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_95" output="screen">
		<param name="position" value="['40.8656232793','54.0666433472','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_19,/node_16,/node_3,/node_2,/node_26,/node_96,/node_94,/node_93,/node_23,/node_98"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_96" output="screen">
		<param name="position" value="['35.1207853542','55.4127728953','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_16,/node_3,/node_2,/node_1,/node_26,/node_95,/node_94,/node_93,/node_98"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_97" output="screen">
		<param name="position" value="['30.1389583379','46.3504511401','0']"/>
		<param name="neighbour_nodes_list" value="/node_16,/node_96,/node_95,/node_94,/node_93,/node_99,/node_98"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_98" output="screen">
		<param name="position" value="['44.6646937306','46.8873511414','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_26,/node_96,/node_95,/node_94,/node_93,/node_99"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_99" output="screen">
		<param name="position" value="['34.5797341109','36.9979561327','0']"/>
		<param name="neighbour_nodes_list" value="/node_97,/node_94,/node_98"/>
	</node>
</launch>