<launch>
	<master auto="start"/>	
	<param name="/use_sim_time" value="false"/>


	<node pkg="sap_pkg" type="node.py" name="node_1" output="screen">
		<param name="position" value="['46.0235387767','61.9437641846','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_7,/node_6,/node_5,/node_3,/node_2"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_2" output="screen">
		<param name="position" value="['16.3508251876','50.6329653339','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_7,/node_5,/node_4,/node_3,/node_1"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_3" output="screen">
		<param name="position" value="['73.6562538578','50.6118412766','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_7,/node_6,/node_5,/node_2,/node_1"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_4" output="screen">
		<param name="position" value="['8.33647134812','13.730726344','0']"/>
		<param name="neighbour_nodes_list" value="/node_7,/node_5,/node_2,/node_9"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_5" output="screen">
		<param name="position" value="['31.7691505757','11.0547030701','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_7,/node_6,/node_4,/node_3,/node_2,/node_1"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_6" output="screen">
		<param name="position" value="['72.0784223527','20.2529859757','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_7,/node_5,/node_3,/node_1"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_7" output="screen">
		<param name="position" value="['47.1117533504','28.420961389','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_8,/node_6,/node_5,/node_4,/node_3,/node_2,/node_1"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_8" output="screen">
		<param name="position" value="['69.4584202125','29.9754169422','0']"/>
		<param name="neighbour_nodes_list" value="/node_9,/node_7,/node_6,/node_5,/node_3,/node_2,/node_1"/>
	</node>
	<node pkg="sap_pkg" type="node.py" name="node_9" output="screen">
		<param name="position" value="['35.125595214','31.4369468203','0']"/>
		<param name="neighbour_nodes_list" value="/node_8,/node_7,/node_6,/node_5,/node_4,/node_3,/node_2,/node_1"/>
	</node>
</launch>